
.popup__button{
    min-width: 358px;
    min-height: 50px;
    flex-shrink: 0;
    background-color: #000;
    margin: 15px auto 25px;
    color: #FFF;
    font-family: Inter;
    padding: 0;
    opacity: 1;
    border: none;

    
    
}

.popup__button:hover{
background-color: rgba(0, 0, 0, 0.8);
transition: 0,5s linear;

}


@media screen and (max-width:768px) {
   .popup__button{
    min-width: 238px;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
   } 
    
}